{% extends 'base.html' %}
{% load static %}
{% block page_css %}
{% endblock %}
{% block page_body %}

	<section id="error" class="error-section pb60">
		<div class="container">
			<div class="row section-content text-left">
				<div class="error-section-content pb30">
					<h2 class="red">500</h2>
				</div>
				<div class="error-text text-uppercase text-left pb20">
					<p><span class="red ti-signal"></span> OOPS! THE Server YOU ARE REQUESTED WAS Error</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End of  page head section
	============================================= -->
{% endblock %}
