{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>尼古拉斯特仑苏/苏湘伦</title>
    <link rel="shortcut icon" href="{% static 'img/logo-24.png' %}">

    <meta name="description"
          content="尼古拉斯特仑苏/苏湘伦个人博客，用于记载技术、管理、生活文章和感悟">

    <meta name="keywords" content="尼古拉斯特仑苏/苏湘伦的博客">

    <meta name="author" content="HTMLmate">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#    <!-- boorstrap -->#}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- themify-icon.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">
    <!-- owl-carousel -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
    <!-- Video-min -->
    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/video.min.css' %}">#}
    <!-- animate.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'rev-slider/css/settings.css' %}">
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'rev-slider/css/layers.css' %}">
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'rev-slider/css/navigation.css' %}">
    <!-- menu style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- responsive.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    {% block page_css %}
    {% endblock %}
</head>

<body>
{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 pb20">
            {% block page_body %}
            {% endblock %}
        </div>
        <div class="col-sm-4">
            <section id="blog-archive" class="blog-archive-section pb40 ">
                <div class="blog-archive-content">
                    <div class="row">
                        <!-- /右侧 搜索 归档、标签、热门列表 start-->
                        <div>
                            <div class="side-bar-content ml15">
                                <!-- /个人简介 start-->
                                <div class="side-bar-content">
                                    <div class="blog-recent-post mb40">
                                        <!-- /title -->
                                        <div class="post-item" style="padding: 0px 10px!important;">
                                            <div class="blog-recent-post-item mb20">
                                                <div>
                                                    <img style="width: 20%;position:absolute;margin-top: 90px;margin-left: 130px"
                                                         class="img-circle" src="{% static 'img/girl.jpg' %}">
                                                    <img src="{% static 'img/city-profile.jpg' %}" alt="image">
                                                </div>
                                                <!-- /img -->
                                                <div class="blog-recent-post-text">
                                                    <div class="blog-recent-post-meta" style="margin-top: 40px">
                                                        <ul class="meta-list text-center">
                                                            <li><a class="text-center" style="color:#fe533d"
                                                                   href="#">尼古拉斯*特仑苏</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div>
                                                    <ul class=" text-center mt10">
                                                        <li><a class="text-center" href="#">QQ:</a></li>
                                                        <li><a class="text-center" href="#">990323604</a></li>
                                                    </ul>
                                                    <ul class=" text-center mt10 ">
                                                        <li><a class="text-center" href="#">github:</a></li>
                                                        <li><a class="text-center"
                                                               href="https://github.com/suxianglun">suxianglun</a>
                                                        </li>
                                                    </ul>
                                                    <ul class=" text-center  mt10">
                                                        <li><a class="text-center" href="#">Email:</a></li>
                                                        <li><a class="text-center" href="#">suxianglun@163.com</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                                {#                                                文章统计#}
                                                {#                                                <div class="site-statistic-data">#}
                                                {#                                                    <ul class="text-center mt15">#}
                                                {#                                                        <li>#}
                                                {#                                                            <div>#}
                                                {#                                                                <a class="text-center" href="#">365</a>#}
                                                {#                                                            </div>#}
                                                {#                                                            <div>#}
                                                {#                                                                <a class="text-center" href="#">博客</a>#}
                                                {#                                                            </div>#}
                                                {#                                                        </li>#}
                                                {#                                                        <li style="margin-left: 10px">#}
                                                {#                                                            <div>#}
                                                {#                                                                <a class="text-center" href="#">365</a>#}
                                                {#                                                            </div>#}
                                                {#                                                            <div>#}
                                                {#                                                                <a class="text-center" href="#">PV量</a>#}
                                                {#                                                            </div>#}
                                                {#                                                        </li>#}
                                                {#                                                        <li>#}
                                                {#                                                            <div>#}
                                                {#                                                                <a class="text-center" href="#">365</a>#}
                                                {#                                                            </div>#}
                                                {#                                                            <div>#}
                                                {#                                                                <a class="text-center" href="#">UV量</a>#}
                                                {#                                                            </div>#}
                                                {#                                                        </li>#}
                                                {#                                                        <li style="margin-left: 10px">#}
                                                {#                                                            <div>#}
                                                {#                                                                <a class="text-center" href="#">365</a>#}
                                                {#                                                            </div>#}
                                                {#                                                            <div>#}
                                                {#                                                                <a class="text-center" href="#">评论</a>#}
                                                {#                                                            </div>#}
                                                {#                                                        </li>#}
                                                {#                                                    </ul>#}
                                                {##}
                                                {#                                                </div>#}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- /个人简介 end-->
                                <!-- /搜索 start-->
                                <div class="side-bar-search mb40">
                                    <form action="#" method="get">
                                        <input type="text" class="" placeholder="Search here...">
                                        <button type="submit"><span class="ti-search"></span></button>
                                    </form>
                                </div>
                                <!-- /搜索 end -->

                                <!-- /归档 start -->
                                <div class="category mb40">
                                    <div class="side-bar-title mb40">
                                        <h4 class="red">归档</h4>
                                    </div>
                                    <!-- /title -->
                                    <div class="category-item">
                                        <ul class="category-item-list">
                                            {% for foo in category_list %}
                                                <li><a href="{% url 'blog:category' foo.id %}">{{ foo.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <!-- /归档 end -->
                                <!-- /标签云 start-->

                                <div class="instagram-pic">
                                    <div class="side-bar-title mb40">
                                        <h4 class="red">标签云</h4>
                                    </div>
                                    <!-- /title -->

                                    <div class="instagram-pic-list">
                                        <ul class="footer-gallery text-center">
                                            {% for foo in tag_list %}
                                                <li><a href="{% url 'blog:tag' foo.id %}"> {{ foo.name }}</a></li>

                                            {% endfor %}


                                        </ul>
                                    </div>
                                </div>
                                <!-- /标签云 end-->
                                <!-- /最近热门 start -->
                                <div class="blog-recent-post">
                                    <div class="side-bar-title mb40">
                                        <h4 class="red">最近热门</h4>
                                    </div>
                                    <!-- /title -->
                                    <div class="post-item">
                                        {% for foo in post_list %}
                                            {% if forloop.counter0 < 3 %}
                                                <div class="blog-recent-post-item mb20">
                                                    <div class="blog-recent-post-pic mr25 pull-left col-sm-4">
                                                        {% if foo.img_url %}
                                                            <img src="{{ foo.img_url }}" alt="image">
                                                        {% else %}
                                                            <img src="{{ foo.url }}" alt="image">
                                                        {% endif %}
                                                    </div>
                                                    <!-- /img -->
                                                    <div class="blog-recent-post-text">
                                                        <div class="blog-recent-post-head">
                                                            <a href="#">{{ foo.title }}</a>
                                                        </div>
                                                        <!-- /post-head -->
                                                        <div class="blog-recent-post-meta mt5">
                                                            <ul class="meta-list">
                                                                <li><a class="black" href="#"><span
                                                                        class="mr5 ti-timer"></span>
                                                                    {{ foo.create_time }}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}


                                        {% endfor %}


                                        <!-- /recent-post-item -->
                                    </div>
                                </div>
                                <!-- /最近热门 end -->


                            </div>
                        </div>
                        <!-- /右侧归档、标签、热门列表 end-->
                    </div>
                    <!-- /row -->
                </div>
            </section>
        </div>
    </div>

</div>


<!-- Start of footer section
	============================================= -->
<footer id="footer-section" class="footer-style">
    <div class="footer-overlay">
        <div class="footer-menu">
            <div class="container">
                <div class="row">
                    <div class="footer-menu-content">
                        <div class="copy-right pull-left">
                            <p> 苏湘伦 版权所有 © 2019丨托管于 腾讯云主机 丨京ICP备18048642号-1 <a
                                    style="color: white" href="http://www.suxianglun.com/" target="_blank" title="模板之家"><span
                                    class="red">苏湘伦博客</span></a> 丨采用
                                <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                        </div>
                        <div class="footer-menu-list pull-right mt25">
                            <ul class="menu-list">
                                <li><a href="#">Home</a><span>/</span></li>
                                <li><a href="#">Event</a><span>/</span></li>
                                <li><a href="#">Cause</a><span>/</span></li>
                                <li><a href="#">FAQ</a><span>/</span></li>
                                <li><a href="#">Support</a><span></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End of footer section
============================================= -->


<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
<script type="text/javascript" src="{% static 'js/parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/circle-progress.js' %}"></script>


<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="{% static 'rev-slider/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rev-slider/js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS (Load Extensions only on Local File Systems !
The following part can be removed on Server for On Demand Loading) -->

<script type="text/javascript" src="{% static 'js/parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script type="text/javascript">new WOW().init();</script>
<script type="text/javascript" src="{% static 'js/circle-progress.js' %}"></script>


<script type="text/javascript" src="{% static 'rev-slider/js/revolution.extension.actions.min.js' %}"></script>

<script type="text/javascript" src="{% static 'rev-slider/js/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rev-slider/js/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rev-slider/js/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rev-slider/js/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rev-slider/js/revolution.extension.video.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/function.js' %}"></script>
{% block page_js %}
{% endblock %}
</body>
</html>