{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block page_body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <!-- /轮播图 start-->
                <div id="myCarousel" class="carousel slide" style="padding: 0!important;">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{% static 'img/bg3.jpg' %}" alt="First slide">
                            <div class="carousel-caption">标题 1</div>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/bg2.jpg' %}" alt="Second slide">
                            <div class="carousel-caption">标题 2</div>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/bg3.jpg' %}" alt="Third slide">
                            <div class="carousel-caption">标题 3</div>
                        </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- /轮播图 end-->
                <!-- /左侧博客列表 start-->
                <div class="left-side-blog  mt40">

                    <ul>
                        {% for rows in post_list %}
                            <li>
                                <div class="blog-pic-text mb20 " style="padding: 10px">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="blog-img mt10">
                                                {% if rows.img_url %}
                                                    <img src="{{ rows.img_url }}" alt="image">
                                                {% else %}
                                                    <img src="{{ rows.url }}" alt="image">
                                                {% endif %}

                                            </div>
                                        </div>
                                        <!-- /col-md-6 -->
                                        <div class="col-sm-8 mt10">
                                            <div class="blog-text">
                                                <ul>
                                                    <li style="background: #fe533d;padding: 5px">
                                                                    <span class="tag-name "
                                                                          style="color: white">{{ rows.category }}</span>
                                                        <!-- /blog-tag -->
                                                    </li>
                                                    <li>
                                                        <a class="green"
                                                           href="blog-single.html">{{ rows.title }}</a>
                                                        <!-- /blog-tag -->
                                                    </li>
                                                </ul>


                                                <div class="blog-text-content mt10 ">
                                                    <p>
                                                        {{ rows.excerpt }}
                                                    </p>
                                                </div>
                                                <div class="blog-meta mt10 pb10">
                                                    <ul class="meta-list">
                                                        <li><a class="green" href="#"><span
                                                                class="mr5 ti-pencil"></span> {{ rows.author }}
                                                        </a></li>
                                                        <li><a href="#"><span class="mr5 ti-timer"></span>
                                                            {{ rows.create_time }}</a></li>
                                                        <li><a href="#"><span
                                                                class="mr5 ti-comment-alt"></span>0</a>
                                                        </li>
                                                        <li><a class="red" href="#"><span
                                                                class="mr5 ti-heart"></span>0</a>
                                                        <li><a href="#"><span
                                                                class="mr5 ti-layout-media-overlay"></span>{{ rows.views }}
                                                        </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <!-- /blog-text -->
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                    <nav class="text-center" aria-label="Page navigation">
                        <ul class="pagination">
                            {{ page_info.pager|safe }}
                        </ul>
                    </nav>
                    <!-- /blog-text-pic -->

                </div>

                <!-- /左侧博客列表 end-->
            </div>

            <!-- Start of blog-archive
            ============================================= -->
            <!-- End of  blog-archive
            ============================================= -->


        </div>


    </div>




{% endblock %}

</body>
</html>